%h1 Listing corporations

= link_to 'New Corporation', new_corporation_path
%table.admin
  %tr
    %th 
    %th Name
    %th Logo
    %th Revenue Text
    %th Profit Text
    %th Website
    %th Wiki
    %th 

  - @corporations.each do |corporation|
    %tr{:class => cycle("", "alt")}
      %td= link_to 'Edit', edit_corporation_path(corporation)
      %td= corporation.name
      %td= corporation.logo.blank? ? highlight_missing_cell : "<img src='#{get_corporate_image_128(corporation.logo)}' />".html_safe
      %td= highlight_or_value corporation.revenue_text
      %td= highlight_or_value corporation.profit_text
      %td= highlight_or_link corporation.corporate_url
      %td= highlight_or_link corporation.wikipedia_url
      %td= link_to 'Delete', corporation_path(corporation), :confirm => 'Are you sure?', :method => :delete
  
%br
= link_to 'New Corporation', new_corporation_path
