<h1>Listing users</h1>
<%= link_to 'New User', new_user_path %>
<br />
<%= link_to 'All Records', users_path %>
<% form_tag "/users/filter/blank" do %>
  Username or Email:&nbsp;
  <input type="text" name="username" />
  <input type="submit" name="filter_username" value="Search" />
<% end %>
<br />
<%= @user_count %> total records.
<%= render :partial => "shared/paging", :object => @paging, :as => :paging_data %>
<table>
  <tr>
    <th>Username</th>
    <th>Birth year</th>
    <th>Zip code</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class="<%= cycle("", "alt") %>" >
    <td><%= user.login %></td>
    <td><%= user.birth_year %></td>
    <td><%= user.zip_code %></td>
    <td>
      <%= link_to 'Show', user_path(user) %>
      <%= link_to 'Edit', edit_user_path(user) %>
      <%= link_to 'Delete', user_path(user), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
