<h1>Products</h1>

<%= link_to "New Product", new_product_path %>
<br />
<br />
<%= link_to 'Reset', products_url %>
&nbsp;&nbsp;
<%= link_to 'Pending', :filter => 'pending' %>
&nbsp;&nbsp;
<%= link_to 'Default', :filter => 'default_include' %>
<% form_tag "/products/filter/blank" do %>
  Code search:&nbsp;
  <input type="text" name="upc" />
  <input type="submit" name="filter_upc" value="Apply" />
<% end %>


<br />
<br />
<%= @product_count %> products
<br />
<%= render :partial => "shared/paging", :object => @paging, :as => :paging_data %>
<table>
	<tr>
    <th></th>
		<th>Code</th>
    <th>Pending</th>
		<th>Description</th>
    <th>Image</th>
    <th>Include</th>
    <th>Created</th>
		<th>Links</th>
		<th></th>
	</tr>

<% @products.each do |product|  %>
  <tr class="<%= cycle("", "alt") %>">
    <td><%= link_to "Edit", edit_product_path(product) %></td>
		<td><%= product.upc %></td>
    <td><%= product.pending %></td>
		<td><%= product.description %></td>
    <td><img src="<%= get_product_image_128 product.logo %>" /></td>
    <td><%= product.default_include %></td>
    <td><%= product.created_at.strftime("%m/%d/%Y") %></td>
		<td>
			<a href="http://www.thefind.com/search?query=<%= product.upc.blank? ? product.ean : product.upc %>" target="_blank">Find</a>
		</td>
		<td>
			<%= link_to "Show", product_path(product) %>
			<%= link_to "Delete", product_path(product), :confirm=>'Are you sure you want to delete?', :method => :delete  %>
		</td>
	</tr>
<% end %>
</table>
