#notice

%h2 Counter Calculations

%table.stat
  %tr
    %td
      =link_to "Zip", :action => :zip_user_counts
    %td
      =link_to "State", :action => :state_user_counts
    %td
      =link_to "National Age", :action => :national_age_counts
    %td
      =link_to "State Age", :action => :state_age_counts


%h2 SS PR Calculations

%table.stat
  %tr
    %td
      = link_to 'Corporate', :action => :corporate_sspr
    %td
      = link_to 'Government', :action => :government_sspr
    %td
      = link_to 'Media', :action => :media_sspr
    %td
      = link_to 'Products', :action => :product_sspr


%div{:style => "font-weight: bold; font-size: 115%; color: red; padding-top: 20px"}= @notice
